* {
    font-family: Lucida;
}

form {
    background-color: #329f80;
    padding: 10px;
    margin: 0 auto;
    width: auto;
    font-size: 18px;
    border-radius: 5px;
}

textarea {
    margin: 0 auto;
    width: 99%;
    height: 10em;
    border: none;
    font-size: 100%;
    text-decoration: none;    
}

h1 {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

h2 {
    font-size: 30px;
    margin: 5px auto;
    padding: 5px;
}

p {
    font-size: 20px;
    margin: 5px auto;
    padding: 5px;
}

.error {
    color: hsl(0, 89%, 37%);
    font-style: italic;

}

hr {
    color: black;
    border-width: 3px;
}

#display {
    background-color: #329f80;
    padding: 5px;
    margin: 0 auto;
    width: auto;
    border-radius: 5px;
}

input[type=text] {
    width: 50%;
    padding: 5px;
    margin: auto;
    font-size: 100%;
    box-sizing: border-box;
}

input[type=password] {
    width: 50%;
    padding: 5px;
    margin: auto;
    font-size: 100%;
    box-sizing: border-box;
}

label {
    padding: 5px;
    margin: auto;
    font-size: 24px;
}

input[type=submit] {
    width: 25%;
    border: none;
    padding: 16px;
    font-size: 100%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

