{% extends "base.html" %}

    {% block content %}

    <h1>Add New Blog Post</h1>
    <form  action="/newpost" method='POST'>
        <label>
            Title for New Blog Post:
            <br>
            <input name='blog_title' type="text" value='{{blog_title}}'>
        </label>
        <br>
        <p class=error>{{ bt_error }}</p>
        <br >
        <br>
        <label>
            New Blog Content:
            <br>
            <textarea name='blog_body'>{{blog_body}}</textarea>
        </label>
        <br>
        <br>
        <p class="error">{{ bb_error }}</p>
        <br>
        <input type="submit" value='Publish' />
    </form>

    {% endblock %}